
  <div class="row justify-content-center mt-4">
    <div id="card-auth">
    <h2 class="text-center">Register</h2>
    <form method="POST" action="/register">
      <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input
          value="{{user.name}}"
          name="name"
          type="text"
          class="form-control {{#if errors.name}}is-invalid{{/if}}"
          placeholder="Name">

        {{#if errors.name}}
          <div class="invalid-feedback">{{errors.name}}</div>
        {{/if}}

      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Email</label>
        <input
          value="{{user.email}}"
          name="email"
          type="email"
          class="form-control {{#if errors.email}}is-invalid{{/if}}"
          placeholder="example@example.com">

        {{#if errors.email}}
          <div class="invalid-feedback">{{errors.email}}</div>
        {{/if}}

      </div>

      <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input
          name="password"
          type="password"
          class="form-control {{#if errors.password}}is-invalid{{/if}}"
          placeholder="Password" required>

        {{#if errors.password}}
          <div class="invalid-feedback">{{errors.password}}</div>
        {{/if}}

      </div>
      <button type="submit" class="btn btn-warning mt-3">Register</button>
      <a href="/login/google" class="btn btn-outline-primary mt-3">Sign in with Google
      <i class="fa fa-google"></i>
      </a>

    </form>
  </div>
</div>

  

