<!-- FAVORITOS -->
<div class="row mx-auto containerNodriza">
  {{#each comics as |comic|}}
    <div class="col-xl-2 col-sm-6 col-xs-12 gy-4 containerInfoComic">
      {{! ESTA LINEA ESTÁ COMENTADA!!!! //if comic.images.lentg -> img src= comic.images.0.value
          //else if comic.thumbnails.length }}
        <a class="containerPortada" href="/detail-comic">
          <img
            class="portada"
            src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"
            alt="{{comic.title}}"
          />
        </a>
        <h6 class="titleHome">{{comic.title}}</h6>
        <button class="botonDetail">
          <a href="/detail-comic/{{comic.id}}">Details</a>
        </button>
    </div>
  {{/each}}
</div>

<div class="separador"></div>

<!-- POR LEER - Se presentarán en cuadrícula -->
<div class="row mx-auto containerNodriza">
  {{#each comics as |comic|}}
    <div class="col-xl-2 col-sm-6 col-xs-12 gy-4 containerInfoComic">
      {{! ESTA LINEA ESTÁ COMENTADA!!!! //if comic.images.lentg -> img src= comic.images.0.value
          //else if comic.thumbnails.length }}
        <a class="containerPortada" href="/detail-comic">
          {{!-- ESTA LINEA ESTÁ COMENTADA!!!! <img src="{{comic.thumbnail.path}}/portrait_medium.jpg" alt="img-comic"/> --}}
          <img
            class="portada"
            src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"
            alt="{{comic.title}}"
          />
        </a>
        <h6 class="titleHome">{{comic.title}}</h6>
        <button class="botonDetail">
          <a href="/detail-comic/{{comic.id}}">Details</a>
        </button>
    </div>
  {{/each}}
</div>

<div class="separador"></div>

<!-- LEIDOS - Se presentarán en cuadrícula-->
<div class="row mx-auto containerNodriza">
  {{#each comics as |comic|}}
    <div class="col-xl-2 col-sm-6 col-xs-12 gy-4 containerInfoComic">
      {{! ESTA LINEA ESTÁ COMENTADA!!!! //if comic.images.lentg -> img src= comic.images.0.value
          //else if comic.thumbnails.length }}
        <a class="containerPortada" href="/detail-comic">
          {{!-- ESTA LINEA ESTÁ COMENTADA!!!! <img src="{{comic.thumbnail.path}}/portrait_medium.jpg" alt="img-comic"/> --}}
          <img
            class="portada"
            src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"
            alt="{{comic.title}}"
          />
        </a>
        <h6 class="titleHome">{{comic.title}}</h6>
        <button class="botonDetail">
          <a href="/detail-comic/{{comic.id}}">Details</a>
        </button>
    </div>
  {{/each}}
</div>
