<body>
    <div>
        {{!-- IMAGEN DEL CÓMIC --}}
    </div>
    <div>
        {{!-- 
        NOMBRE DEL COMIC
        AUTOR
        DESCRIPCIÓN
        SOCRE
         --}}
    </div>
    <div>
        {{!-- 
        FAV
        AÑADIR A LISTA POR LEER
        LEIDO
        PUNTUAR
         --}}
    </div>
</body>

<h2> View de details </h2>


 {{!-- <h3>{{comic.id}}</h3>
 <p>{{comic.title}}</p>
 <img class="img-thumbnail" 
      src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="{{comic.title}}"/> --}}

 {{!-- <p>hola</p> --}}

<div class="card mb-3" style="max-width: 900px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{comic.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{comic.title}}</h5>
        <h6 class="card-title"> Author: {{comic.author}}</h6>
        <p class="card-text"><small class="text-muted">Publication date: {{comic.year}}</small></p>
        <p class="card-text">{{comic.description}}</p>
      </div>
        <a href=""></a>
      <button type="button" id="favorites" class="btn btn-success mb-4 ml-5 mr-2">favorites</button>
      <button type="button" id="watched" class="btn btn-warning mb-4 ml-4">watched</button>
      <a href="/{{comic.id}}/edit" class="btn btn-success mt-1">Edit</a>
    </div>
  </div>
</div>

