<body>
    <div>
        {{!-- IMAGEN DEL CÓMIC --}}
    </div>
    <div>
        {{!-- 
        NOMBRE DEL COMIC
        AUTOR
        DESCRIPCIÓN
        SOCRE
         --}}
    </div>
    <div>
        {{!-- 
        FAV
        AÑADIR A LISTA POR LEER
        LEIDO
        PUNTUAR
         --}}
    </div>
</body>

<h2>Detail comics </h2>


 {{!-- <h3>{{comic.id}}</h3>
 <p>{{comic.title}}</p>
 <img class="img-thumbnail" 
      src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="{{comic.title}}"/> --}}

 {{!-- <p>hola</p> --}}

 <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{comicId.thumbnail.path}}.{{comicId.thumbnail.extension}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{comicId.title}}</h5>
        <p class="card-text">{{comicId.textObjects.[0].text}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>


